@import './base.css';

#app {
  display: flex;
  flex-direction: column;
}

.irw-home {
  display: flex;
}

.irw-home, .irw-logo {
  max-height: 100%;
  object-fit: contain;
  background-size: contain;
  height: 100%;
}

.irw-header {
  flex: 0 1 auto;
  max-height: 80px;

  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;
  padding-bottom: 20px;
}

.irw-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.irw-incident-filter {
  display: flex;
  justify-content: space-between;

}

.container {
  display: flex;
}

.irw-user-profile .irw-user-profile-picture {
  font-size: 2rem;
}

