#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Red Hat colors */
:root {
  --redhat-primary: #cc0000;
  --redhat-secondary: #cc0000;
  --redhat-font: "Red Hat Text", sans-serif;
}

/* Apply Red Hat theme to buttons */
.btn-primary {
  background-color: var(--redhat-primary);
  border-color: var(--redhat-primary);
  color: #fff;
  font-family: var(--redhat-font);
}

.btn-outline-primary {
  color: var(--redhat-primary);
  border-color: var(--redhat-primary);
  font-family: var(--redhat-font);
}

/* Remove borders from tables */
.table {
  border: none;
}

td {
  border: none;
}

table {
  border-collapse: none;
  border-spacing: 0;
}


/* Apply Red Hat font to the entire app */
body {
  font-family: var(--redhat-font);
}

/* override the primary color for accordion component */
.accordion-button:not(.collapsed) {
  background-color: white;
}

/* override the hover color for accordion component */
.accordion-button:not(.collapsed):hover {
  background-color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}
.card {
  border-radius: 0;
}
.accordion-button:not(.collapsed) {
  color: #000 !important;
}
.btn-primary:hover,
.btn-outline-primary:hover,
.btn-secondary:hover {
  background-color: #f44336;
  border-color: #f44336;
}
