// https://www.redhat.com/en/about/brand/standards/color

// Core Palette

$redhat-red-10: #fce3e3;
$redhat-red-20: #fbc5c5;
$redhat-red-30: #f9a8a8;
$redhat-red-40: #f56e6e;
$redhat-red-50: #e00; // "Red Hat red"
$redhat-red-60: #a60000;
$redhat-red-70: #5f0000;

// Monochrome Palette

$redhat-white: #fff;
$redhat-gray-10: #f2f2f2;
$redhat-gray-20: #e0e0e0;
$redhat-gray-30: #c7c7c7;
$redhat-gray-40: #a3a3a3;
$redhat-gray-50: #707070;
$redhat-gray-60: #4d4d4d;
$redhat-gray-70: #353535;
$redhat-gray-80: #292929;
$redhat-gray-90: #1f1f1f;
$redhat-gray-95: #151515; // UX Black
$redhat-black: #000;

// Web Utility Palette

$redhat-danger-10: #ffe3d9;
$redhat-danger-20: #fbbea8;
$redhat-danger-30: #f89b78;
$redhat-danger-40: #f4784a;
$redhat-danger-50: #f0561d;
$redhat-danger-60: #b1380b;
$redhat-danger-70: #731f00;

// Green, Success

$redhat-success-10: #e9f7df;
$redhat-success-20: #d1f1bb;
$redhat-success-30: #afdc8f;
$redhat-success-40: #87bb62;
$redhat-success-50: #63993d;
$redhat-success-60: #3d7317;
$redhat-success-70: #204d00;

// Secondary Palette

$redhat-orange-10: #ffe8cc;
$redhat-orange-20: #fccb8f;
$redhat-orange-30: #f8ae54;
$redhat-orange-40: #f5921b;
$redhat-orange-50: #ca6c0f;
$redhat-orange-60: #9e4a06;
$redhat-orange-70: #732e00;
$redhat-yellow-10: #fff4cc; // Light Warning
$redhat-yellow-20: #ffe072;
$redhat-yellow-30: #ffcc17;
$redhat-yellow-40: #dca614; // Dark Warning
$redhat-yellow-50: #b98412;
$redhat-yellow-60: #96640f;
$redhat-yellow-70: #73480b;

// Teals

$redhat-teal-10: #daf2f2;
$redhat-teal-20: #b9e5e5;
$redhat-teal-30: #9ad8d8;
$redhat-teal-40: #63bdbd;
$redhat-teal-50: #37a3a3;
$redhat-teal-60: #147878;
$redhat-teal-70: #004d4d;

// Blues

$redhat-blue-10: #e0f0ff;
$redhat-blue-20: #b9dafc;
$redhat-blue-30: #92c5f9;
$redhat-blue-40: #4394e5;
$redhat-blue-50: #06c;
$redhat-blue-60: #004d99;
$redhat-blue-70: #036;

// Purples

$redhat-purple-10: #ece6ff;
$redhat-purple-20: #d0c5f4;
$redhat-purple-30: #b6a6e9;
$redhat-purple-40: #876fd4;
$redhat-purple-50: #5e40be;
$redhat-purple-60: #3d2785;
$redhat-purple-70: #21134d;

// https://ux.redhat.com/elements/button/
// UX Guidelines may not be up to date
$button-danger-light: #c9190b;
$button-danger-dark: #ff542e;
