# The compose spec says that single quotes are supposed to work:
# https://github.com/compose-spec/compose-spec/blob/d958c4e3678bbd9aaa4b8368110f47d6d60f123e/spec.md#user-content-env_file-format
# But single quotes get included in the variable's value, at least with podman-compose
OSIM_RUNTIME={"backends":{"osidb":"http://osidb","bugzilla":"http://bugzilla"},"osimVersion":"0"}
#OSIM_RUNTIME={"backends":{"osidb":"/osidb","bugzilla":"http://bugzilla"},"osimVersion":"0"}
#OSIDB_BACKEND=http://osidb
