# The compose spec says that single quotes are supposed to work:
# https://github.com/compose-spec/compose-spec/blob/d958c4e3678bbd9aaa4b8368110f47d6d60f123e/spec.md#user-content-env_file-format
# But single quotes get included in the variable's value, at least with podman-compose

OSIM_ENV="dev"
OSIM_BACKENDS_OSIDB="http://osidb-service:8000"
OSIM_BACKENDS_BUGZILLA="http://bugzilla-service:8001"
OSIM_BACKENDS_JIRA="http://jira-service:8002"
