OSIM_RUNTIME='{"backends":{"osidb":"http://osidb","bugzilla":"http://bugzilla"},"osimVersion":"0"}'
#OSIM_RUNTIME='{"backends":{"osidb":"/osidb","bugzilla":"http://bugzilla"},"osimVersion":"0"}'
#OSIDB_BACKEND='http://osidb'
